.post{
    margin-top: 70px;
}
.post .head{
    text-align: center;
    font-size: 30px;
    background: black;
    color: white;
}
.post img{
    width: 100%;
    height: 500px;
}
.post .footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:550px){
    .post img{
        width: 100%;
        height: 100%;
    }
}
.avatar img{
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar_con{
    display: flex;
    align-items: center;
}
.avatar_con .card-text{
    margin: 10px;
}